@model IEnumerable<MVCShop.Models.StockItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get" action="@Url.Action("Index")" data-shopMVC-ajax="true" data-shopMVC-target="#stockItemList">
    <input type="search" name="searchTerm" data-shopMVC-autocomplete="@Url.Action("Autocomplete")"  />
    <input type="submit" value="Search by name" />
</form>

@*@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "stockItemList"
    }))
{
    <input type="search" name="searchTerm" data-shopMVC-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />
}*@
@Html.Partial("_Items", Model)
